<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="CommnadFolderLocation" value="E:\\Works\\SJ\\CFEMS-BackEnd\\ExposeCore.Application\\Commands" />
		<add key="QueryFolderLocation" value="E:\\Works\\SJ\\CFEMS-BackEnd\\ExposeCore.Application\\Queries" />
		<add key="InferfaceFolderLocation" value="E:\\Works\\SJ\\CFEMS-BackEnd\\ExposeCore.Application\\Interfaces" />
		<add key="ServiceImplementationFolderLocation" value="E:\\Works\\SJ\\CFEMS-BackEnd\\ExposeCore.Application\\Services" />
		<add key="RepoImplementationFolderLocation" value="E:\\Works\\SJ\\CFEMS-BackEnd\\CFEMS.Infrastructure\\Persistence\\Repositories\\ExposeAPIRepositories" />
		<add key="DtoFolderLocation" value="E:\\Works\\SJ\\CFEMS-BackEnd\\Shared.DTOs\\ExposeAPI" />
		<add key="EntityFolderLocation" value="E:\\Works\\SJ\\CFEMS-BackEnd\\ExposeCore.Domain" />
		<add key="ControllerFolderLocation" value="E:\Works\SJ\CFEMS-BackEnd\CFEMS.ExposeAPI\Controllers" />
	</appSettings>
</configuration>